input {
    display: block;
    width: 200px;
    margin: auto;
}

output {
    text-align: center;
    display: block;
    padding-top: 15px;
}

.slider {
    width: 50%; /* Full-width */
    height: 25px; /* Specified height */
}

* {
    background-color: pink;
}

.lightbulb {
    margin: auto;
    display: block; 
    width: 50%;
}
